@page "{id}"
@using System.Globalization
@model Oz.Blog.Pages.BlogModel

@{
    ViewData["Title"] = "Post";
}

@if (Model.Blog == null)
{
    <div>No such blog</div>
}
else
{
    <div class="text-center">
        <div class="row h1">@Model.Blog.Title</div>
        <div class="row margin-bottom-20">
            <div class="row">Created on @Model.Blog.CreateDate.ToString(CultureInfo.InvariantCulture), modified on @Model.Blog.ModifiedDate.ToString(CultureInfo.InvariantCulture)</div>
            <div class="row">@Html.Raw(Model.Blog.Content.Replace("\r\n", "<br />"))</div>
            <div class="row">@Model.Blog.AuthorSign</div>
            <div class="row">
                @if (Model.Blog.Annotations.Any())
                {
                    <div class="row margin-top-10">Annotations:</div>
                }
                @foreach (var annotation in Model.Blog.Annotations)
                {
                    <div class="row annotation-one">
                        <div>
                            @Html.Raw(annotation.Content.Replace("\r\n", "<br />"))
                        </div>
                        <br />
                        <div class="text-sm-start">@annotation.CreateDate.ToString(CultureInfo.InvariantCulture)</div>
                    </div>
                }
            </div>
        </div>
    </div>
}