@page "{id}"
@using System.Globalization
@model BlogModel

@{
    ViewData["Title"] = "Post";
}

@if (Model.Blog == null)
{
    <div>No such blog</div>
}
else
{
    <div class="row">
        <div class="row h1">@Model.Blog.Title</div>
        <div class="row margin-bottom-20">
            <div class="row">Created on @Model.Blog.CreateDate.ToString(CultureInfo.InvariantCulture), modified on @Model.Blog.ModifiedDate.ToString(CultureInfo.InvariantCulture)</div>
            <div class="row">@Html.Raw(Model.Blog.Content.Replace("\r\n", "<br />"))</div>
            <div class="row">@Model.Blog.AuthorSign</div>
            <div class="row">
                @if (Model.Blog.Annotations.Any())
                {
                    <div class="row margin-top-10">Annotations:</div>
                }
                @foreach (var annotation in Model.Blog.Annotations)
                {
                    <div class="row">
                        <div>
                            @Html.Raw(annotation.Content.Replace("\r\n", "<br />"))
                        </div>
                        <br/>
                        <div class="text-sm-start">@annotation.CreateDate.ToString(CultureInfo.InvariantCulture)</div>
                    </div>
                }
            </div>
        </div>
        <div class="row">

            @if (Model.AdminService.IsAdmin)
            {
                <div class="col-sm-2">
                    <a class="btn btn-outline-secondary"
                       asp-page="EditBlogPost"
                       asp-route-id="@Model.Blog.Id">
                        Edit post
                    </a>
                </div>

                <div class="col-sm-2">
                    <a asp-page="AddRemoveAnnotation" asp-route-id="@(Model.Blog.Id)"
                       class="btn btn-outline-secondary">
                        Edit annotations
                    </a>
                </div>


                <div class="col-sm-2">
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="blogPostId" value="@(Model.Blog.Id)"
                               style="min-width: 50px"/>
                        <input type="submit" class="btn btn-outline-secondary text-danger" value="Delete"
                               style="min-width: 50px"/>
                    </form>
                </div>
            }
        </div>
    </div>
}